[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/WeAreLeka/Arduino-Makefile
[submodule "NanoPb"]
	path = NanoPb
	url = https://github.com/nanopb/nanopb
[submodule "lib/mcp_can"]
	path = lib/mcp_can
	url = https://github.com/Seeed-Studio/CAN_BUS_Shield
