[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/WeAreLeka/Arduino-Makefile
[submodule "NanoPb"]
	path = NanoPb
	url = https://github.com/nanopb/nanopb
[submodule "SeeedMcpCan"]
	path = lib/seeedMcpCan
	url = https://github.com/Seeed-Studio/CAN_BUS_Shield
